body {
    background-color: rgb(150, 226, 240);
}

.content {
    text-align: center;
    font-family: sans-serif;
}

.menu-wrapper, .board-wrapper, .list-wrapper, .reply-wrapper, .reply {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.board {
    border: 1px solid #000000;
    display: grid;
    gap: 0;
    width: fit-content;
}

.board .cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}


.board-wrapper .board .cell:hover {
    cursor: pointer;
    background: #ffffff;
}

.board-wrapper .board .cell.occupied:hover {
    background: #ffffff;
}

.list {
    font-size: 18px;
    font-weight: 500;
}

.btn {
    max-width: 120px;
    width: 120px;
    border: 1px solid black;
    font-size: 19px;
    padding: 10px 12px;
    background-color: rgb(90, 154, 165);
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(144, 169, 238);
}

.msg {
    font-size: 20px;
    font-weight: 500;
}

.hide {
    display: none;
}
